@media screen and (max-width: 1550px) {
  .first-txt .image,
  .third-txt .image,
  .fourth-txt .image {
    left: -121px;
  }
  .main__img {
    right: -100px;
  }
  .second-txt .image,
  .fourth-txt .image-sec {
    right: -121px;
  }
}
@media screen and (max-width: 1300px) {
  .first-txt .image,
  .third-txt .image,
  .fourth-txt .image {
    left: -190px;
  }
  .main__img {
    right: -144px;
  }
  .second-txt .image,
  .fourth-txt .image-sec {
    right: -190px;
  }
}
/* 993-1200px */
@media screen and (max-width: 1200px) {
  .container,
  .container-l {
    width: 960px;
  }
  .logo {
    margin-right: 25px;
  }
  .header__soc-wrap {
    margin-right: 20px;
}

  .third-txt .image,
  .fourth-txt .image {
    left: -250px;
  }
  .main__img {
    right: -268px;
  }
  .second-txt .image {
    right: -350px;
  }
  .fourth-txt .image-sec {
    right: -250px;
  }
  .main__wrap {
    max-width: 558px;
}
.first-txt .title-m {
  max-width: 590px;
}
.third-txt .title-m {
  max-width: 516px;
}
.footer__bottom span,
.footer__bottom a {
  font-size: 14px;
}
}
@media screen and (max-width: 1100px) {
  .fourth-txt .title-m {
    max-width: 509px;
}
}

/* 769-993px */
@media screen and (max-width: 993px) {
  .container,
  .container-l {
      width: 90% !important;
  }

  .header__nav {
    position: absolute;
    top: 0;
    padding: 67px 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    left: -100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
         box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    width: 50%;
    z-index: 11;
  }
  .header__nav.open {
    overflow-y: scroll;
    left: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav ul > li.menu-item-has-children > .sub-wrap {
    position: relative;
  }
  .header__nav > ul:first-child {
    margin-right: 0;
}
  .header__nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    margin: 0 0 8px;
  }
  .header__nav > ul > li,
  .header__top-nav ul li {
    width: 100%;
    padding: 8px 18px 8px 11%;
    margin-right: 0 !important;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav > ul > li > a,
  .header__top-nav ul li a {
    color: #212121;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .header__nav > ul > li.menu-item-has-children:first-child > a::after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    top: 3px;
    right: 0;
    bottom: 0;
    margin: auto 0;
    background: url(../img/svg/shevr.svg) no-repeat 0 0 / cover;
  }
  .header__nav > ul > li.menu-item-has-children:first-child > a {
    position: relative;
    padding-right: 22px;
}



.bar {
  background: #fff;
}
.header .header__menu,
.header .header__soc-wrap,
.wrap__line::before {
  display: none;
}
.main__img {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 20px;
  width: 451px;
    height: 500px;
}
.main {
  padding: 550px 0 0;
}
.main .btn,
.main__wrap  {
  margin: 0 auto;
}
.first-txt .image {
  left: 0;
  width: 438px;
  height: 400px;
}
.first-txt {
  padding: 430px 0 120px;
  margin-top: 120px;
}
.second-txt .image {
  right: 0;
  top: 0;
  width: 667px;
  height: 401px;
}
.second-txt {
  padding: 430px 0 120px;
}
.second-txt .title-m,
.third-txt .title-m,
.fourth-txt .title-m {
  max-width: unset;
}
.third-txt .image {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.third-txt {
  padding: 405px 0 120px;
}
.fourth-txt .image,
.fourth-txt .image-sec {
  left: 0;
  right: 0;
  margin: 0 auto;
}
.fourth-txt .image-sec {
  top: unset;
  bottom: 0;
}
.fourth-txt {
  padding: 245px 0;
}
.fifth-txt {
  padding: 120px 0 60px;
}
.sixth-txt p br {
  display: none;
}
.sixth-txt {
  padding: 60px 0 120px;
}
.test__wrap,
.footer__bottom {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.test__title {
  margin-bottom: 30px;
}
.test {
  padding: 70px 0;
}
.footer__mob-wrap .header__menu {
  margin-bottom: 18px;
}
.footer .header__wrap {
  padding-bottom: 18px;
}
.footer__bottom {
  padding: 18px 0;
}
.footer__bottom span:first-child {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
     -moz-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.footer__bottom span:last-child {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
     -moz-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.footer__bottom a,
.footer__bottom span:not(:last-child) {
  margin-bottom: 16px;
}
.header {
  padding: 11px 0;
}
.header__mobfix {
  background: #141414;
  padding: 16px 0;
}
.header__mobfix {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.header__mobfix.fix {
  top: 0;
  z-index: 4;
}
.header__mobfix .header__menu {
  display: block;
}
.mobile__btn {
  display: block;
  background: rgba(20, 20, 20, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 7px;
}
.mobile__btn.show {
  bottom: 0;
}
.mobile__btn .btn {
  margin: 0 auto;
}
}

/* 577-768px */
@media screen and (max-width: 768px) {
  
}


/* 320-576px */
@media screen and (max-width: 576px) {
  .logo {
    width: 134px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  .btn-sec {
    width: 134px;
    padding: 9px;
    font-size: 14px;
  }
  .header__menu a {
    font-size: 12px;
    line-height: 120%;
  }
  .main__img {
    top: 30px;
    width: 290px;
    height: 320px;
  }
  .main {
    padding: 380px 0 0;
  }
  .title-l {
    font-size: 32px;
  }
  .main .title-l {
    margin-bottom: 30px;
}
.main__wrap p {
  margin: 0 0 30px;
  font-size: 12px;
  width: 100%;
}
.first-txt .image {
  width: 320px;
  height: 291px;
}
.first-txt {
  padding: 321px 0 120px;
}
.title-m {
  font-size: 26px;
}
.second-txt .image {
  width: 90%;
  height: 174px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.second-txt {
  padding: 204px 0 120px;
}
.third-txt .image {
  width: 90%;
  height: 320px;
}
.third-txt {
  padding: 350px 0 120px;
}
.fourth-txt .image, .fourth-txt .image-sec {
  width: 90%;
}
.fifth-txt .title-m {
  margin-bottom: 30px;
}
.sixth-txt .title-m:not(:last-child),
.sixth-txt p {
  margin-bottom: 20px;
}
.sixth-txt p {
  font-size: 12px;
}
.test__title {
  font-size: 32px;
}
.test__info .title-m {
  margin-bottom: 30px;
}
.test__info p {
  font-size: 12px;
  margin-bottom: 30px;
}
.footer__bottom span, .footer__bottom a {
  font-size: 11.9px;
}
}

@media screen and (max-width: 375px) {
  
}
